@charset "utf-8";
/* CSS Document */
/*.mobileHide { display:none}*/

/* 버튼세트 */
.btn_farm {text-align:center; overflow:hidden; display:block}
.btn_farmL {overflow:hidden; display:block; text-align:left;}
.btn_farm2 {overflow:hidden; text-align:right;}
.btn_farm2.abs {position:absolute; right:0; bottom:70px; z-index:999}
/**/
.boardWrap {margin:3px 0 5px;}
.tblWrap {margin-top:5px;}
.tblWrap2 {border-left:1px solid; margin-top:5px;}
.tblScroller{overflow:auto;}
/*게시물 검색 */
.tSearch {display:block; height:44px; overflow:hidden; background:url(./include/image/booktown/common/bg_pageSearch.gif) 0 0 no-repeat; margin:15px auto;}
.tSearch input[type=checkbox] {background:#eaeaea}
.tSearch .fl {margin:10px 0 0 30px}
.tSearch .fl img {vertical-align:middle}
.tSearch .fr {margin:10px 20px 0 0}
.tSearch .fr input[type=text] {width:158px}
.tSearch .htbtn {margin:8px 0 0 50px;}
.tSearch .htbtn li {float:left; margin:0 2px}
/*search*/
#pageSearch {padding:9px 0 9px 0; background:#f5f5f5; border:1px solid #e2e2e2; margin-bottom:20px}
#pageSearch p {font-family: 'Nanum Gothic'; font-size:13px; font-weight:bold; color:#333; text-align:center}
#pageSearch select { height:32px; margin-left:10px;  width:90px;border:1px solid #cccccc}
#pageSearch select.schSel2 { margin-left:10px}
#pageSearch input[type=text] { line-height:34px;height:34px; width:40%; border:1px solid #cccccc}
#pageSearch .sizeinBoard { margin-left:10px}
#pageSearch .sizeinBoard a { line-height:34px; border-radius:6px; width:60px }
/*search - calendar*/
#pageSearchDetail {margin:20px 0; padding:10px 20px; background-color:#f2f2f2;}
#pageSearchDetail select {min-width:80px; height:26px; border:1px solid #b5b5b5;}
#pageSearchDetail input[type=text] {height:24px; padding:0 4px; line-height:24px; border:1px solid #b5b5b5;}
#pageSearchDetail .inputDate {display:inline-block; position:relative; height:26px;}
#pageSearchDetail .inputDate input[type="text"] {width:65px; padding-right:24px; text-align:center;}
#pageSearchDetail .inputDate img {position:absolute; top:3px; right:4px;}
#pageSearchDetail .inputDate .ui-datepicker-trigger {border:0; margin:0; padding:0;}
/*paging*/
.pgeAbs {display:block; position:relative; overflow:hidden;}
.pgeAbs .frBtn {right:10px; top:3px; position:absolute}
.pgeAbs .flBtn {left:0; top:0; position:absolute;}
.paging {text-align:center; margin:0; overflow:hidden;}
.paging > span.paging a {color:#666666; font-size:11px; font-weight:normal; text-decoration:none; display:inline-block; width:25px; line-height:25px; text-align:center; border:1px solid #dfdfdf;}
.paging > span.tp {color:#fff; font-weight:bold; text-decoration:underline; border:0 none; line-height:27px; width:27px; display:inline-block; width:25px; border:1px solid #dfdfdf;}
.paging > span {display:inline; width:27px; overflow:hidden;}
.paging > span.paging {margin:0 1px; text-align:center;}
.paging span.prev {margin-right:5px;}
.paging span.next {margin-left:5px;}
/* calendar */
.calWrap {position:relative;}
.calMonth {margin-bottom:20px; text-align:left; overflow:hidden; padding:10px 15px; border:1px solid #e2e2e2; background:#f5f5f5}
.calMonth a {display:inline-block; width:27px; height:27px; margin-top:0; vertical-align:top;}
.calMonth .month {display:inline-block; margin:0 15px; font-weight:bold; font-size:18px; font-family:'Nanum Gothic'; line-height:25px; color:#000; vertical-align:top;}
.calMonth .month span {display:inline-block; font-size:18px; font-family:'Nanum Gothic'; line-height:25px; vertical-align:baseline;}
.example {float:right; overflow:hidden; margin:4px 0 0 0;}
.example li {float:left; margin-left:15px}
.calendar {table-layout:fixed; width:100%; border-collapse:separate; border-spacing:0px; border-right:1px solid #dfdfdf; empty-cells:show;}
.calendar thead th {width:14.28571428571429%; font-size:14px; font-family:'Nanum Gothic'; line-height:40px; color:#000; border-bottom:1px solid #dfdfdf; border-left:1px solid #dfdfdf; background-color:#f5f5f5;}
.calendar thead th:first-child {}
.calendar td {width:14.28571428571429%;font-family:'Nanum Gothic'; min-height:86px; padding:9px; vertical-align:top; border-bottom:1px solid #dfdfdf; border-left:1px solid #dfdfdf; empty-cells:show;}
.calendar td * {font-family:'Nanum Gothic';}
.calendar td.today .day { text-decoration:underline}
.calendar p {overflow:hidden; font-size:11px; line-height:18px; vertical-align:top; background:url(/include/image/jungang/common/bul_square_gray.gif) 0 5px no-repeat; text-overflow:ellipsis; -o-text-overflow:ellipsis; -ms-text-overflow:ellipsis; -webkit-text-overflow:ellipsis; white-space:nowrap;}
.calendar .day { margin-bottom:5px; line-height:1em; text-align:left;}
.calendar td.today { background:#f5f5f5; }
.calendar .btnToday { line-height:13px; color:#fff; font-size:11px; font-weight:bold; padding:1px 5px; margin-left:12px; background:#444; display:inline-block}
.calendar .sun,.calendar .sun p,.calendar .sun span {color:#fe5555;}
.calendar .sat,.calendar .sat p,.calendar .sat span {color:#00a0e9;}
.calendar .holiday {color:#fe5555 !important; background-image:url(/include/image/jungang/common/bul_square_red.gif);}
.calendar .img {display:block; margin:2px 0; text-align:center;}
#popplan {position:absolute; line-height:1.4; top:0; left:0; height:auto; display:none; border:1px solid #d9eb47; padding:4px; background:#fff; width:180px; z-index:999;}
/* movie List 2 */
.ThumBbsHead {position:absolute; top:12px; right:0}
.ThumBbsHead select {border:#b5b5b5 1px solid; height:24px}
.movieList {overflow:hidden; float:none; clear:both}
.movieList > ul {display:block; padding:0 10px; background:url(/include/image/jungang/board/bg_movieList.png) 0 0 repeat; overflow:hidden}
.movieList > ul > li {height:150px; overflow:hidden; padding:20px 10px 20px 10px; display:inline-block; float:left}
.movieInfo {table-layout:fixed;}
.movieInfo .poster {width:120px; text-align:left; overflow:hidden; padding:0; background:none}
.movieInfo .poster img {width:100px; height:146px; border:1px solid #dfdfdf;}
.bookNewList .movieInfo .poster img,.bookNew .photo img,.relation_list > li img {width:100px; height:146px; border:0 none; background:url(../../image/jungang/board/bg_book.png) 0 0 no-repeat; padding:4px 1px 1px 1px;}
.relation_list { overflow:hidden;}
.relation_list > li { float:left; margin:0 11px 10px 11px}
.movieInfo th {background:url(/include/image/jungang/board/bg_thTitle.png) 0 50% no-repeat; padding-left:0; text-align:left; padding-top:2px;}
.movieInfo th.title { padding-top:0px; vertical-align:top; font-size:14px; font-family:'Nanum Gothic';background:none !important;}
.btn2viewDetail { padding-top:15px}
.btn2viewDetail .tB00 { padding:0 10px}
.movieView .movieTitle {padding:10px 20px; font-size:14px; font-family:'Nanum Gothic'; border-bottom:1px solid #dfdfdf; background-color:#f4f4f4;}
.movieView .thisTitle { font-size:14px; font-family:'Nanum Gothic'; margin-bottom:10px; display:block; width:100% !important; background: none !important;}
.movieView .bookviewWrap {position:relative; padding:20px 0 20px 140px; border-bottom:1px solid #dfdfdf;}
.movieView .photo {position:absolute; top:20px; left:20px; width:100px; height:150px; border:1px solid #dfdfdf;}
.movieView .photo img {width:100%; height:100%;}
.movieView .desc {min-height:150px;}
.movieView .desc:after {content:""; display:block; clear:both;}
.movieView .desc dt,.movieView .desc dd {float:left; margin-bottom:3px; line-height:1.6em;}
.movieView .desc dt {width:20%; min-width:70px; padding-left:7px; font-weight:bold; background:url(/include/image/jungang/board/bg_thTitle.png) 0 50% no-repeat;}
.movieView .desc dd {width:500px;}
.movieView .cont { padding:20px}
/* Thumb List 2 */
.thumbList {overflow:hidden; float:none; clear:both}
.thumbList > ul {display:block; border-bottom:1px solid #dfdfdf; background:url(/include/image/jungang/board/bg_thumbList.png) 0 0 repeat; overflow:hidden}
.thumbList > ul > li {overflow:hidden; padding:14px 10px;}
.thumbInfo {table-layout:fixed; width:100%; height:172px;}
.thumbInfo th,.thumbInfo td {height:28px; font-family:'Nanum Gothic';}
.thumbInfo th {font-family:'Nanum Gothic'; background:url(/include/image/jungang/board/bg_thTitle.png) 0 50% no-repeat; padding-left:7px; text-align:left}
.thumbInfo th.poster {width:140px; height:172px; text-align:left; overflow:hidden; padding:0; background:none}
.thumbInfo th.poster img {width:120px; height:170px; border:1px solid #dfdfdf !important}
.thumbInfo th.title {background:none !important; border-bottom:2px solid #dfdfdf; padding:0}
.thumbInfo td.bookDesc,.thumbInfo td.bookDesc p {overflow:hidden; height:75px; vertical-align:top; padding:5px 10px 0 0;}
.thumbDetail {margin-bottom:20px; padding-top:20px;}
.thumbDetail .thumbInfo {padding-left:20px;}
.thumbDetail .thumbInfo .poster img {width:120px;}
.thumbDetail .thumbInfo th.last,.thumbDetail .thumbInfo td.last {padding-bottom:10px;}
.thumbSummary {padding:20px 0; border-bottom:1px solid #dfdfdf;}
/*기본 게시판 형태*/
.bd00 {table-layout:fixed; border-collapse:separate; border-spacing:0; overflow:hidden; empty-cells:show;}
.bd00 th {border-bottom:1px solid #dfdfdf;}
.bd00 td {border-bottom:1px solid #dfdfdf; text-align:center;}
.bd00 td.title {text-align:left; padding:8px 4px;}
.bd00 td.title a {display:inline-block; max-width:85%; overflow:hidden; text-overflow:ellipsis; -o-text-overflow:ellipsis; -ms-text-overflow:ellipsis; -webkit-text-overflow:ellipsis; white-space:nowrap; vertical-align:top;}
.bd00 td.title img {margin-right:4px;}
/*기본2 게시판 형태*/
.bd01 {table-layout:fixed; border-collapse:separate; border-spacing:0; overflow:hidden; empty-cells:show;}
.bd01 th,.bd01 td {text-align:center; border-bottom:1px solid #dfdfdf; border-left:1px solid #dfdfdf;}
.bd01 th {background:#f4f4f4;}
.bd01 thead th:first-child,.bd01 tbody td:first-child {border-left-width:0;}
.bd01 tbody th {border-left:2px solid #868686;}
.bd01 td.title {text-align:left; padding:0 4px; overflow:hidden; text-overflow:ellipsis; -o-text-overflow:ellipsis; -ms-text-overflow:ellipsis; -webkit-text-overflow:ellipsis; white-space:nowrap;}
.bd01 td.txt_top {vertical-align:text-top;}
.bd01 td.title img {margin-right:4px;}
/* 타입 01용 게시판 보기*/
span.essential {padding:0 2px; font-weight:bold; color:#eb6100;}
.bd00view {table-layout:fixed; border-collapse:separate; border-spacing:0px; empty-cells:show; }
.bd00view th * {font-family:'Nanum Gothic' !important;}
.bd00view th.bd01th {background:#eee; padding:6px 0; height:22px; border-bottom:1px solid #dfdfdf; text-align:center; font-family:'Nanum Gothic'; color:#333}
.bd00view th.ta_l,.bd00view td.ta_l {text-align:left; padding:6px 0; padding-left:10px; background:#eff9ff; border-bottom:1px solid #dfdfdf;}
.bd00view td.bd01td {padding:6px 10px; border-bottom:1px solid #dfdfdf; text-align:left;}
.bd00view th.last_l,.bd00view td.last_l {}
.bd00view td.bd01td a {display:inline-block; margin:0 5px 0 5px;}
.bd00view td.bd01tdC {height:auto; min-height:200px; padding:10px 10px; border-bottom:1px solid #dfdfdf; vertical-align:top;}
.bd00view td.bd01tdC textarea {width:100%;/*height:150px*/}
.bd00view td.bd01tdC span {vertical-align:top !important;}
.bd00view td.bd01tdD {border-bottom:1px solid #dfdfdf; padding:10px;}
.bd00view td.bd01tdD textarea {width:96%;/*height:150px*/}
/*넓은간격용 게시판 스킨*/
.bd00big {margin:20px 0}
.bd00big th {height:48px;}
.bd00big td {height:60px}
/*좁은간격용 게시판 스킨*/
.bd00Bbs {margin:0; }
.bd00Bbs th {padding:7px 0; height:22px; background:#eeeeee; min-height:28px;}
.bd00Bbs td {padding:7px 0; empty-cells:show; min-height:28px;}
.prevNext {table-layout:fixed; border-top:1px solid #d0d4d7; border-right:1px solid #d0d4d7;}
.prevNext th {padding:7px 0; border-bottom:1px solid #dedede; border-left:2px solid #b3b3b3; background:#f7f7f7; width:70px;}
.prevNext td {border-left:1px solid #dedede; border-bottom:1px solid #dedede; text-align:left; padding:5px 10px; width:630px;}
.listx {overflow:hidden; text-overflow:ellipsis; -o-text-overflow:ellipsis; -ms-text-overflow:ellipsis; -webkit-text-overflow:ellipsis; white-space:nowrap;}
.listx img {margin-right:4px;}
/* 좌우측 보더가 없게끔하는 스킨 스킨*/
.noWall {border-left:0 none !important}
.noWall th,.noWall td {border-right:0 none !important}
/*컨텐츠 테이블(안내표) */
.cntTbl {border-spacing:0; border-collapse:collapse; border-top:3px solid #474747; border-right:1px solid #e2e2e2; border-bottom:1px solid #474747;}
.cntTbl th,.cntTbl td {padding:10px 8px; text-align:center; border-top:1px solid #e2e2e2; border-left:1px solid #e2e2e2; empty-cells:show;}
.cntTbl thead th {font-size:13px; font-family:'Nanum Gothic'; color:#555; background-color:#f9f9f9;}
.cntTbl tbody th {background-color:#fbfbfb;}
.cntTbl tfoot th,.cntTbl tfoot td {background-color:#fbfbfb;}
.tblLegend {margin-top:-28px; text-align:right;}
.tblLegend:after {content:""; display:block; clear:both;}
/*공지용 스킨*/
.notice td {background:#f7fbdd}
.notice td:first-child {color:#0b9540}
/* 영화 사영용 게시판 뷰*/
.bd00view td .fl {margin:0 10px;}
.bd00view td .fl img {width:122px; height:158px}
/*faq*/
.faq {table-layout:fixed; border-collapse:separate; border-spacing:0; overflow:hidden; empty-cells:show; border-bottom:1px solid #666;}
.faq th,.faq td,.faq li { border-bottom:1px solid #dfdfdf;}
.faq th {text-align:center; font-weight:bold; background:#f2f2f2; border-top:1px solid #ccc; border-bottom:1px solid #e3e3e3;padding:8px 10px;}
.faq th.question {background:#eeeeee; text-align:center;}
.faq th.end {text-align:left; font-weight:bold}
.faq td {text-align:left; font-weight:normal}
.faq td.no { text-align:center; padding:8px 0;}
.faq td.no { text-align:center}
.faq td.re {background:#fafafa; padding:8px 10px;text-align:center; vertical-align:top;}
.faq td.re .answer {text-align:center;}
.faq td.re2 {background:#fafafa; padding:8px 10px;}
.faq td.re .text { }

/*photo Gallery */
.photoList {overflow:hidden; margin-top:15px}
.photoList > li {width:260px; height:230px; float:left; text-align:center}
.photoList > li dl > dt {text-align:left; font-weight:bold; overflow:hidden; display:block; height:36px; padding:5px 10px;}
.photoList > li dl > dd.photo img {width:234px; height:154px;}
.photoList > li dl .regiDate { text-align:left; padding:0 10px}
/*newsMag Style*/
.magStyle {overflow:hidden;}
.magStyle > li {width:178px; height:131px; float:left; padding:20px 20px 40px 20px;}
.magStyle > li dl > dd {margin-top:5px; text-align:left;}
.magStyle > li dl > dt img {width:118px; height:138px; border:1px solid #ccc}
.magStyle > li dl > dt {text-align:left;}
/*siteList Style*/
.reommSite {overflow:hidden;}
.reommSite > li {border-bottom:1px solid #ccc; height:142px; overflow:hidden; position:relative}
.reommSite > li .img {width:110px; height:122px; border:1px solid #ccc; position:absolute; top:10px; left:10px;}
.reommSite > li .img img {width:110px; height:122px;}
.reommSite > li table {width:590px; float:right; margin-top:10px;}
.reommSite > li table th {text-align:left; vertical-align:top; padding:3px 0; width:80px;}
.reommSite > li table td {padding:3px 0; padding-right:10px}
.comment {table-layout:fixed; border-top:1px solid #ccc; margin-top:20px;}
.comment th {padding:7px 0; border-bottom:1px solid #dedede;}
.comment td {border-bottom:1px solid #dedede; text-align:left; padding:7px 10px;}
.commentInput {background:#f2f2f2; padding:14px; overflow:hidden; clear:both; border:1px solid #dedede;}
.commentInput .fl {width:600px;}
.commentInput .fl> textarea {width:680px; height:42px;}

.idday {padding:7px 0 7px 9px !important; height:14px; text-align:left; border-bottom:0 none !important; background:#f2f2f2}
#wtitle {width:650px; height:18px;}
#writeInput {height:350px; width:100%}
.passWrap {border-bottom:1px solid #333; margin-top:5px;}
.bgpassword {width:505px; height:81px; margin:30px auto; background:url(/include/image/booktown/board/bg_password.png) 50% 50% no-repeat; overflow:hidden}
.passwordLine {margin:27px 0 0 60px;}
.passwordLine label {font-weight:bold;}
.passwordLine input {margin-left:10px; width:250px; border:#cccccc; height:20px;}
.bookList {}
.bookList > li {overflow:hidden; position:relative; background:url(/include/image/booktown/board/bg_bookList.gif) 110px 10px no-repeat; border-bottom:1px solid #ccc; height:130px;}
.bookList > li > dl {display:block; margin-left:130px; margin-top:20px;}
.bookList > li > dl > dd.Thumb {position:absolute; top:10px; left:10px; border:1px solid #ccc; background:none;}
.bookList > li > dl > dt a,.bookList > li > dl > dt {font-weight:bold; color:#004896; overflow:hidden; text-overflow:ellipsis; -o-text-overflow:ellipsis; -ms-text-overflow:ellipsis; white-space:nowrap;}
.bookList > li > dl > dt {margin-bottom:20px;}
.bookList > li > dl > dd.desc {background:url(/include/image/booktown/board/bul_bookList.gif) 0 3px no-repeat; padding-left:18px; width:280px; float:left; display:inline-block; margin-bottom:7px; overflow:hidden; text-overflow:ellipsis; -o-text-overflow:ellipsis; -ms-text-overflow:ellipsis; white-space:nowrap;}
.bookView {margin-top:0; padding:20px; border-bottom:1px solid #ccc}
/*webZine List */
.wZineList {border-top:2px solid #88bede;}
.wZineList > li {overflow:hidden; position:relative; background:url(/include/image/booktown/board/bg_wZineList.gif) 110px 10px no-repeat; border-bottom:1px solid #ccc; height:140px;}
.wZineList > li > dl {display:block; margin-left:185px; margin-top:10px;}
.wZineList > li > dl > dd.Thumb {position:absolute; top:10px; left:10px; border:1px solid #ccc; background:none;}
.wZineList > li > dl > dd.Thumb {width:164px; height:114px}
.wZineList > li > dl > dt a {font-weight:bold; overflow:hidden; text-overflow:ellipsis; -o-text-overflow:ellipsis; -ms-text-overflow:ellipsis; white-space:nowrap; line-height:1.8; max-width:510px; float:left; display:inline-block; width:auto;}
.wZineList > li > dl > dt span > img {margin-left:5px}
.wZineList > li > dl > dt {margin-bottom:7px; display:block; overflow:hidden; clear:both}
.wZineList > li > dl > dt .tbsBS,.wZineList > li > dl > dt .tbsBS2,.wZineList > li > dl > dt .tbsPNK,.wZineList > li > dl > dt .tbsLG,.wZineList > li > dl > dt .tbsLO,.wZineList > li > dl > dt .tbsLW {font-size:9px !important; margin-right:5px; margin-top:-2px}
.wZineList > li > dl > dd.desc {background:url(/include/image/booktown/board/bul_wZineList.gif) 0 3px no-repeat; display:block; clear:both; margin-bottom:7px; overflow:hidden;}
.wZineView {margin-top:0; padding:20px; border-bottom:1px solid #ccc}
.bbsHead {overflow:hidden; margin-top:30px;}
.bbsHead .bbsCnt {float:left}
.bbsHead .bbsCnt p {background:url(../../image/board/bul_blueC.gif) 0 5px no-repeat; padding-left:12px; margin-left:5px; font-size:11px;}
.bbsHead .bbsCnt p strong {color:#006ab2}
.bbsHead .bbsCate {float:right}
.bbsHead .bbsCate select {min-width:120px; border:2px solid #acdff5}
/*btn justify*/
.btnJustice {overflow:hidden; padding:4px 0;}
.btnJustice .btnLeftF {float:left}
.btnJustice .btnRightF {float:right}
/*table type new01 */
.tbl01 {table-layout:fixed; border-collapse:separate; border-spacing:0; overflow:hidden; empty-cells:show; border-top:1px solid #dfdfdf; border-left:2px solid #79cff5;}
.tbl01 th {border-bottom:1px solid #dfdfdf; border-right:1px solid #dfdfdf; text-align:left; padding:2px 10px; background:#effafe;}
.tbl01 td {border-bottom:1px solid #dfdfdf; border-right:1px solid #dfdfdf; padding:2px 5px;}
/*table type new02 */
.tbl02 {table-layout:fixed; border-collapse:separate; border-spacing:0; overflow:hidden; empty-cells:show; border-top:1px solid #ccc; }
.tbl02 th,.tbl02 td.heading {border-bottom:1px solid #e3e3e3; text-align:center; padding:2px 10px; background:#f2f2f2;}
.tbl02 td {border-bottom:1px solid #dfdfdf; padding:2px 5px; text-align:center;}
/*table type new03 */
.tbl03 {table-layout:fixed; border-collapse:separate; border-spacing:0; overflow:hidden; empty-cells:show; border-top:1px solid #ccc; }
.tbl03 th,.tbl03 td.heading {border-bottom:1px solid #e3e3e3; text-align:center; padding:7px 10px; background:#f2f2f2;}
.tbl03 td {border-bottom:1px solid #dfdfdf; padding:7px 10px; text-align:center;}
/*table type new03 */
.tbl04 {table-layout:fixed; border-collapse:separate; border-spacing:0; overflow:hidden; empty-cells:show;  }
.tbl04 th,.tbl04 td.heading { text-align:left; padding:7px 0; font-family:'Nanum Gothic'; font-size:13px; color:#5c5c5c }
.tbl04 td {padding:7px 10px; text-align:left;}
.tbl04 td.ta_l { padding:0 0 15px 16px}
.flagNo { display:inline-block; width:18px; line-height:19px; text-align:center; color:#fff; font-family:'Nanum Gothic'; background:url(../../image/jungang/contents/intro/bg_table.png) 0 0 no-repeat; padding-bottom:5px; font-weight:bold; margin-right:6px}

.btnFarm {overflow:hidden; margin:20px 0;}
/*onebook*/
.onebookList {overflow:hidden; position:relative;}
.onebookList li {margin-bottom:20px;}
.onebookList li strong {display:block; margin-bottom:6px; padding-left:16px; font-weight:bold; font-size:16px; font-family:'Nanum Gothic'; line-height:1.5em; color:#000; background:url(/include/image/jungang/common/bul_dp1.png) 0 6px no-repeat;}
.writerInfo {overflow:hidden; min-height:185px; border:1px solid #dfdfdf; background-color:#f9f9f9;}
.writerInfo:after {content:""; display:block; clear:both;}
.writerInfo .img {float:left; padding:20px; border-right:1px solid #dfdfdf;}
.writerInfo .img img {border:1px solid #a2a2a2;}
.writerInfo .cont {float:left; width:480px; min-height:115px; margin:20px; padding:14px; border:1px solid #dfdfdf; background-color:#fff;}
/*bbs head notice */
.bbsHeadNotice {display:block; padding:15px 20px; background:#f9f9f9; border:1px solid #dfdfdf; margin-bottom:20px;}

/*added 151231 */
.notice .themeBtn a, .notice .themeBtn span { display:inline-block; line-height:20px; padding:0 4px; border-radius:2px;}

/*search*/
#bStoreSearch {background:#f2f2f2; border:1px solid #dfdfdf; padding:7px 10px; margin-bottom:15px}
#bStoreSearch p {text-align:center}
#bStoreSearch2 p {text-align:right}
#bStoreSearch select,#bStoreSearch2 select {height:24px;border:1px solid #ccc; padding-left:5px}
#bStoreSearch input[type=text],#bStoreSearch2 input[type=text] {height:24px; width:120px; border:1px solid #cccccc}
.bStoreArea { overflow:hidden;}
.bStoreArea .fl { font-weight:bold; font-size:26px; font-family:'Nanum Gothic'; color:#333}
.bStoreArea .fr { margin-top:6px}