@charset "utf-8";
/* CSS Document */
/* ################  Theme Color ################### */
/*   #86b71b  */
.booklistData .title > span,.themeColor, .paging.tp, #ttab3 li.on a,.themeBtn a, .themeBtn span {
	background: #e2427f !important
}
.themeBtnDark a, .themeBtnDark span {
	background: #547e3a !important
}
.lnbBody A.current, .lnbBody A:hover,.lnbBody  A:focus, .themeFC,.faq td.re, .stitle, .futil .point_blue01,.faq a:hover,.faq a:focus,.bookTabList li a.on {
	color: #e2427f !important
}
.bd00Bbs,.bd00view, .movieList, .thumbList, .movieView,.calendar,.faq {
	border-bottom:1px solid #474747; border-top:3px solid #474747
}

.tabType5 li.on a, .tabType5 li.choiced a, .tabType5 li a:hover, .tabType5 li a:focus,.tabType6 li.on a, .tabType6 li.choiced a, .tabType6 li a:hover, .tabType6 li a:focus { background:#ed2373 url(/include/image/jungang/common/bg_tabNo5OnR.png) 100% 50% no-repeat;}


/*logo*/
#indexColumn #logo {
	position:absolute;
	margin: 50px 0 0px 0px;
	z-index:130;
}
/*top link*/
#indexColumn .siteMenu {
	margin: 0;
	padding: 0;
	height: 23px;
	float: left;
	width: 470px;
	position: absolute;
	top: 6px;
	right: 0;
}
/* 상단 회색 바탕 메뉴*/
.siteMenu ul.memUtil {
	float: right;
	padding: 0;
	margin-top: 0;
}
.siteMenu ul.memUtil li {
	float: left;
	position: relative;
	padding: 0 7px;
/* 	background: url(../../image/jungang/common/bg_memUtilSlit.gif) 0 50% no-repeat; */
}
.siteMenu ul.memUtil li:first-child {
	background: none;
	margin-left: 0;
}
.siteMenu ul.memUtil li a {
	font-family: 'Nanum Gothic';
	display: inline-block;
	line-height: 1.3;
	padding: 0 2px;
	color:#fff;
}
/* 탑메뉴 */
#indexNavi {
	position: absolute;
	z-index: 119;
	left: 0;
	top: 30px;
	margin:0 auto; 
	overflow: hidden;
	height: 82px;
	text-align: center;
}
#indexNavi > ul{
	display:inline-block;
	zoom:1;
}
#subvisuala {
	position: absolute;
	left: 120px; /*gnb.js에서 계산해서 뿌림*/
	bottom: 0px;
	display: none;
}
#submenuArea {
	position: absolute;
	width: 100%;
	height: 220px;
	overflow: hidden;
	top: 90px;
	z-index: 113;
	background: #fff;
	border-bottom: 1px solid #dfdfdf;
}
#topmenu {
/* 	float: right; */
	text-align:center;
	height: 81px;
	padding: 0;
	list-style: none;
	z-index: 119;
}
#topmenu > li {
	float: left;
	margin: 0;
	list-style: none;
	position: relative;
	min-width: 115px;
	text-align: left;
}

#topmenu > li > a {
	display: block;
	text-align: center;
	font-family: 'Nanum Gothic';
	font-size: 16px;
	font-weight: bold;
	color: #fff;
	line-height: 62px;
	margin: 9px 0 0 0;
	padding-bottom: 9px;
}
#topmenu > li > a:hover, #topmenu > li > a:focus, .fbl > a, .fbC > a {
	background: #fff;
	color: #e2427f !important
}
#topmenu > li:first-child {
	background: none;
	margin-left: 0px;
}
#topmenu > li.last {
	background: none;
	margin-left: 0px;
	padding-right: 0
}
#topmenu > li > ul {
	position: relative;
	padding: 15px 0;
	height: 195px;
	display: none;
	z-index: 119;
	overflow: hidden;
}
#topmenu > li > ul:hover, #topmenu > li > ul:focus, .fbC > ul {
}
#topmenu > li > ul:hover a, #topmenu > li > ul:focus a {
}
#topmenu > li > ul:hover a.newWindow, #topmenu > li > ul:focus a.newWindow {
}
#topmenu > li > ul:first-child {
}
#topmenu > li > ul > li {
	padding-left: 10px;
	clear: both;
	width: 100%;
	line-height:1.2;
	display: block;
}
#topmenu > li > ul > li > a {
	padding: 0;
	font-family: '나눔고딕', 'Nanum Gothic', Nanum Gothic !important;
	padding-left: 2px;
	color: #666;
	font-size: 13px;
	display: inline-block;
    letter-spacing: -0.5px;
}
#topmenu > li > ul > li a:hover, #topmenu > li > ul > li a:focus, #topmenu > li > ul > li a:active, #topmenu .current {
	text-decoration: underline;
	color: #e2427f;
}
#topmenu > LI > UL > LI > ul {
	display: none
}
#topmenu > LI > UL > LI > ul > li > ul {
	display: none !important;
}
#topmenu > li > ul > li > ul > li {
	float: left
}
#topmenu > li > ul > li > ul > li > a {
	padding: 8px 0;
	font-family: '나눔고딕', 'Nanum Gothic', Nanum Gothic !important;
	padding-left: 0;
	color: #fff;
	font-size: 14px;
	font-weight: normal;
}
.fb2 {
	border: 2px solid red;
}
#gnb1, #gnb1 > ul {
	width: 120px;
}
#gnb2, #gnb2 > ul {
	width: 120px;
}
#gnb3, #gnb3 > ul {
	width: 120px;
}
#gnb4, #gnb4 > ul {
	width: 120px;
}
#gnb5, #gnb5 > ul {
	width: 120px;
}
#gnb6, #gnb6 > ul {
	width: 115px;
}
#gnb7,#gnb8, #gnb9, #gnb10 {
	display: none
}
#topmenu .iintegLib > a { color:#f9ff00 !important; }
#topmenu .iintegLib.fbl > a {	color: #1fa700 !important }
#topheader {
	width: 100%;
	z-index: 99;
}
/*LNB*/
#contbody .contleft p {
	margin-top: 10px
}
#contbody .contleft {
	float: left;
	width: 194px;
}
#contbody .contleft h2 {
	background: #fd7c0a url(../../image/jungang/common/bg_h2.png) 100% 100% no-repeat;
	width: 194px;
	padding: 0 0 0 0;
	color: #fff;
	font-weight: bold;
	font-size: 18px;
	font-family: 'Nanum Gothic';
	overflow: hidden;
	position: relative;
	text-align: center;
	line-height: 75px;
}
#contbody .contleft h2 > span.eng {
	font-size: 12px;
	font-family: 'Nanum Gothic';
	font-weight: bold;
	color: #fff;
	display: block;
}
#contbody .contleft .lnbBody {
	width: 100%;
	padding-bottom: 10px;
	position: relative;
}
#contbody .contleft .lnbBody > UL {
}
#contbody .contleft .lnbBody > UL > LI {
	width: 100%;
	margin: 0 auto;
}
#contbody .contleft .lnbBody > UL > LI > A {
	font-size: 13px;
	padding-left: 14px;
	display: block;
	font-family: 'Nanum Gothic';
	margin: 0;
	line-height: 47px;
	color: #333;
	font-weight:bold;
	background: #fff url(../../image/jungang/common/bg_lnbSubOff.png) 170px 50% no-repeat;
	border-bottom: 1px solid #d0d0d0
}
#contbody .lnbBody > UL > LI > A.current, #contbody .lnbBody > UL > LI > A:hover, #contbody .lnbBody > UL > LI > A:focus {
	background: #fff url(../../image/jungang/common/bg_lnbSubOn.png) 170px 50% no-repeat;
}
#contbody .contleft .lnbBody .lnbBottom {
	width: 100%;
	overflow: hidden;
	display: inline-block;
	position: absolute;
	bottom: 10px;
	left: 7px;
	padding-top: 8px;
	padding-left: 5px;
}
/*Contents Area*/
#contbody {
	margin: 0 auto;
	overflow: visible;
	min-height: 500px;
	background: #fff;
	margin-top: 40px
}
#contbody:after {
	content: "";
	display: block;
	clear: both;
}
#contbody #contentcore {
	height: auto;
	line-height: 1.8;
	min-height: 500px
}
#contbody #contentcore .contents {
	position: relative;
	clear: both;
	padding: 15px 0 20px 0px;
}
.contheader {
	overflow: hidden;
	margin: 25px 0 20px 0;
}
.contheader .pagetitle {
	float: left;
}
.contheader .putil {
	float: right;
	margin-top: 10px;
	width: auto;
	display: block;
	overflow: hidden
}
.contheader .putil li {
	float: left;
	background: url(/common/image/common/bul_gray_arrRT.gif) right center no-repeat;
	padding-right: 12px;
	margin-right: 6px;
	overflow: hidden
}
.contheader .putil li.last {
	background: none;
	font-weight: bold
}
/*navi*/
.naviandtitle {
	border-bottom: 1px solid #ccc;
	margin-top: 0px;
	overflow: hidden;
	padding: 0 0 15px 0;
	position: relative;
}
.naviandtitle h3 {
	font-size: 26px;
	color: #343434;
	font-family: 'Nanum Gothic' !important;
	line-height: 1em;
	margin-top: 12px;
}
.naviandtitle .navi a {
	overflow: hidden;
}
.naviandtitle .navi {
	font-size: 12px;
	line-height: 1.1em;
	position: absolute;
	top: 25px;
	right: 0;
	word-break: keep-all;
	white-space: nowrap
}
.naviandtitle .navi strong {
	font-size: 12px;
}
.naviandtitle .navi img {
	vertical-align: middle
}
.navidesc {
	width: 100%;
	clear: both;
	margin-top: 10px;
	overflow: hidden;
	color: #868686;
	font-family: 'Nanum Gothic';
	font-weight: bold;
}
/*footer*/
#footer * {font-family: 'Nanum Gothic';
}
#footer  {
	background: #fff;
}
#footbody {
	width: 100%;
	background:url(../../image/jungang/common/bg_footer.png) 0 0 repeat-x;
	padding: 0 0 20px 0
}
#footbody .footbottom {
	margin: 0 auto;
	line-height: 1.4;
	padding: 10px 0 0 0;
	overflow: hidden;
	color: #333;
	position: relative
}
#footbody .footbottom .famSite {
	position: absolute;
	top: 7px;
	right: 0
}
#footbody .footbottom .famSite select { height:24px}
#footbody .footbottom .mid {
	margin-top: 20px;
	overflow: hidden;
	font-size: 11px;
	font-family: 'Nanum Gothic' !important;
}
#footbody .footbottom .mid .fam {
}
#footbody .footbottom .mid p {
	font-family: 'Nanum Gothic' !important;
}
.futil {
	overflow: hidden;
	clear: both
}
.futil li {
	float: left;
	padding: 0 15px 5px 15px;
	background: url(../../image/jungang/common/bg_futilSlit.gif) 0 4px no-repeat;
}
.futil li:first-child {
	background: none;
	padding-left: 0
}
.futil li a {
	color: #fff;
}
#footbody .footbottom .mid {
	overflow: hidden
}
#footbody .footbottom .mid .flogo {
	float: right
}
#footbody .footbottom .mid .fAdd {
	float: left;
	width: 720px;
}
#footbody .footbottom .mid .fMark {
	float: right
}
.MkSub {
	padding: 10px 10px 10px 15px;
	border-bottom: 1px solid #ccc;
	overflow: hidden
}
.MkSub > li {

	margin-bottom: 0;
}
.MkSub.subT2 > li {
	width: 49%;
	float: left;
}
.MkSub > li a {
	display: inline-block;
	margin: 2px 0;
	background: url(/include/image/jungang/common/bg_lnbdot.gif) 0 50% no-repeat;
	padding-left: 8px;
}
.MkSub > li a:hover, .MkSub > li a:focus, .MkSub > li a.current {
	background: url(/include/image/jungang/common/bg_lnbdotOn.gif) 0 50% no-repeat;
}
.MkSub .MkTab {
	display: none
}
.lnbBanner {
	margin: 0 auto
}
.lnbBanner2 {
	overflow: hidden;
	text-align: center;
	margin: 11px 5px;
	padding: 10px;
	width: 148px;
	background: url(/include/image/booktown/common/bg_lnbBottom.png) 0 0 no-repeat

}
.lnbBanner2 > li {
	float: left;
	display: inline-block;
	text-align: center;
	height: 55px;
	margin: 5px;
}
/*newWindow*/
#indexNavi .newWindow {
	padding-right: 15px !important;
	/*background: url(../image/common/icon_newWindow.png) 100% 4px no-repeat;*/
}
#lnb .newWindow {
}
#ttab3 .newWindow {
	padding-right: 5px !important
}
/*searchBox*/
#searchBoxArea { width:100%; margin:0 auto; overflow:hidden; background:#fff; z-index:112; position:absolute; padding-bottom:25px; top:112px; left:0}
#searchBox {
	overflow: hidden;
	position:relative;
	margin:0 auto;
	margin-top:25px;
	margin-bottom:6px;
	}
#searchBox .searchBox {
	border: 1px solid #e2427f;
	display: block;
	overflow: hidden
}
#searchBox .searchBox .bgWhite {
	background: #fff;
	float: left
}
#searchBox .searchBox .bgWhite select {
	border: 1px solid #fff;
	padding: 3px;
	color: #666;
	font-weight: normal;
	font-size: 12px;
	font-family: 'Nanum Gothic'
}
#searchBox .searchBox .bgWhite input {
	border: 1px solid #fff;
	padding: 2px 4px;
	height:34px !important
}
#searchBox .searchBox .btnRight {
	float: right
}
#searchBox .searchBox .themeBtn a { line-height:40px; display:inline-block; text-align:center; font-weight:bold; font-family: 'Nanum Gothic'}
#btnSearchTop { position:absolute; top:45px; right:0; z-index:120}
#btnSearchTop > a > span {display: none;}
#blackBG { background:#000; opacity:0.6; display:block; width:100%; height:500px; overflow:hidden; position:absolute; top:200px; z-index:131; display:none;}


/*today Notice*/
#todayNotice { overflow:hidden; position:relative; background:url(../../image/jungang/common/bg_todayWrap.png) 50% 0 no-repeat; background-size:100% 100%;}
#todayNotice .innerWrap {  overflow:hidden; margin:0 auto; padding:15px 10px;  background:url(../../image/jungang/common/bg_todayWrapIn.png) 50% 0 no-repeat; background-size:cover;}
#todayNotice .innerWrap * { font-weight:bold; color:#333;font-family: 'Nanum Gothic'; }
#todayNotice .innerWrap .fl { line-height:1.5em !important; vertical-align:middle !important; padding-left:40px}
#todayNotice .innerWrap .themeColor { display:inline-block; line-height:24px; padding:0 4px; color:#fff}





@media screen and (max-width: 998px) {
#btnSearchTop {top: 39px; right:55px;}
#btnSearchTop > a > span {display: block; color: #ffffff; text-align: center;}
#todayNotice .innerWrap {
	width: auto;
	margin:0 10px;}
#todayNotice .innerWrap .fl { padding-left:0}
/*상단메뉴*/
.WebHide {display:none}
.siteRole > li {float:left}
/*.siteRole { display:none}
.siteRole > li:first-child > a { border-left:1px solid #474747 !important }*/
#indexColumn #logo img { width:90%}
#todayNotice .innerWrap * { font-size:16px;}
#indexColumn {
	height: 90px;
}
#searchBoxArea { top:102px; }
#indexNavi {
	display:none
}
#submenuArea { display:none}
#middle {
	width: 100%;
	overflow: hidden;
	z-index: 1;
	position: relative;
	clear: both;
}

#contbody {
	width: 100%;
	margin-top:10px !important
}
#contbody .contleft {
	display:none}

#contbody #contentcore {
	float: none;
	width: auto;
	margin:0 10px;
}
#contbody #contentcore .contents {
	float: none;
	width: 100%;
}
.naviandtitle {
	width: 100%;
}
#footbody .footbottom .mid .fAdd { width:auto}
#footbody .footbottom {
	width: auto;
	margin:0 10px;
}

#footbody .footbottom .mid {
	width: 100%;
}
.mobileHide { display:none}

.naviandtitle h3 { font-size:16px !important}
.loginWrap > .fr { float:none !important; width:auto !important; min-width:300px}
.logincol1 { width:200px}
.loginTable label { width:50px !important; font-size:12px !important}
.loginTable input { width:100px !important}
#footbody .footbottom .famSite { display:none}
.futil  { height:35px}
.futil li * { line-height:1em}


#mobileIndex { display:none; background:#333;  width:220px; position:absolute; top:0 ; right:0;  z-index:111110;}

#BtnmobileIndex {display:inherit; position:absolute; top:39px; right:10px;}
#BtnmobileIndex > a > span {display: block; text-align: center; color: #ffffff;}
#topmenuM > li > ul { display:none}
.movieList > ul > li { width:95%}
#searchBox {
	width: 430px;
}
#searchBox .searchBox .bgWhite select {
	width: 80px;
}
#searchBox .searchBox .bgWhite input {
	width: 220px;
}
#searchBox .searchBox .themeBtn a { width:96px;}

}
@media screen and (max-width: 800px) {
#todayNotice .innerWrap * { font-size:15px;}
#indexColumn #logo img { width:90%; margin-top:5px}
#searchBox {
	width: 430px;
}
#searchBox .searchBox .bgWhite select {
	width: 80px;
}
#searchBox .searchBox .bgWhite input {
	width: 220px;
}
#searchBox .searchBox .themeBtn a { width:96px;}
}
@media screen and (max-width: 480px) {
#todayNotice .innerWrap * { font-size:13px;}
#indexColumn #logo img { width:80%; margin-top:4px;}#searchBox {
	width: 300px;
}
#searchBox .searchBox .bgWhite select {
	width: 80px;
}
#searchBox .searchBox .bgWhite input {
	width: 110px;
}
#searchBox .searchBox .themeBtn a { width:66px;}

.noh { display:block; width:100%; }
.noh img { margin-left:0 !important}
}
@media screen and (max-width: 330px) {
#todayNotice .innerWrap * { font-size:11px; line-height:1em}
#indexColumn #logo img { width:70%}
}
@media screen and (min-width: 998px) {

#todayNotice .innerWrap { width:998px;}
#todayNotice .innerWrap * { font-size:18px;}
/*상단메뉴*/
.WebHide {display:none}
.siteRole > li {float:left}
#indexColumn #logo {}
#indexColumn {
	width: 998px;
	height: 110px;
	margin: 0 auto;
	position: relative;
	z-index: 119;
}
#indexNavi {
	width: 998px;
}
#middle {
	width: 100%;
	min-width: 998px;
	overflow: hidden;
	z-index: 1;
	position: relative;
	clear: both;
}

#contbody {
	width: 998px;
}

#contbody #contentcore {
	float: right;
	width: 780px;
	margin: 0 auto;
}
#contbody #contentcore .contents {
	width: 780px;
	float: right;
}
.naviandtitle {
	width: 780px;
}
#footbody .footbottom {
	width: 998px;
}
#footbody .footbottom .mid {
	width: 998px;
}
.logincol1 { width:300px}
#mobileIndex { display:none}
#BtnmobileIndex {display:none;}

.movieList > ul > li { width:95%}
#searchBox {
	width: 430px;
}
#searchBox .searchBox .bgWhite select {
	width: 80px;
}
#searchBox .searchBox .bgWhite input {
	width: 220px;
}
#searchBox .searchBox .themeBtn a { width:96px;}
}






/*added*/
#indexNavibefore { position:absolute; display:block; width:680px; height:80px; top:30px; left:220px; z-index:11110}
#topmenuM > li { background:#333; border-top:1px solid #999; border-bottom:1px solid #000;}
#topmenuM > li > a { font-size:16px; font-family:'Nanum Gothic'; line-height:42px; color:#fff; font-weight:bold; padding:0 10px}
#topmenuM > li > ul { background:#444; padding: 10px}
#topmenuM > li > ul > li > a { font-size:14px; font-family:'Nanum Gothic'; line-height:28px; color:#fff; font-weight:bold; padding:0 10px}
#topmenuM .fbl > a, #topmenuM .fbC > a { background:none !important}
/*added2*/
#siteIndex { position:absolute; top:0; left:10px;}
#siteIndex,.siteRole { z-index:131}
.siteRole > li > a { color:#fff; font-family:'Nanum Gothic'; display:inline-block; line-height:29px; width:90px; text-align:center; border-right:1px solid #666; border-left:1px solid #333; background:#474747}
.siteRole > li > a > span {font-family:'Nanum Gothic';}
.siteRole > li:first-child > a { border-left:0 none}
.siteRole > li:nth-child(4) > a { width: 110px}


@media screen and (max-width: 640px) {
	
	.siteRole > li > a {width: auto !important; padding: 0 10px}

}

@media screen and (max-width: 480px){
	#siteIndex {left: 0}
	
}





#siteIndex .WebHide a {color:#fff; font-family:'Nanum Gothic'; display:none; line-height:29px; width:110px; text-align:center; border-right:1px solid #666; border-left:1px solid #333; background:#474747}

/*added*/




/*added for Search*/
.searcKwd {
	color: #e2427f;
	font-size:1.1em !important;
	line-height:1em !important;
	vertical-align: text-bottom
}
.btnToggle a {
	display: inline-block;
	width: 22px;
	height: 22px;
	overflow: hidden
}
.btnToggle a.btnTogText {
	background: #fff url(/include/booksearch/images/button/btn_tog_text_off.png) 5px 5px no-repeat;
	border: 1px solid #dfdfdf;
}
.btnTogText:hover, .btnTogText:focus, .btnTogText.choiced {
	background: #e2427f url(/include/booksearch/images/button/btn_tog_text_on.png) 5px 5px no-repeat !important;
	border: 1px solid #e2427f;
}
.btnToggle a.btnTogImage {
	background: #fff url(/include/booksearch/images/button/btn_tog_img_off.png) 50% 50% no-repeat;
	border: 1px solid #dfdfdf;
}
.btnTogImage:hover, .btnTogImage:focus, .btnTogImage.choiced {
	background: #e2427f url(/include/booksearch/images/button/btn_tog_img_on.png) 5px 5px no-repeat !important;
	border: 1px solid #e2427f;
}
.bookItem LI DL DD {
	background: url(/include/booksearch/images/button/bg_bulB01.png) 0 50% no-repeat !important;
	padding-left: 12px !important;
}
.rsltNo strong {
	color: #4bab21 !important
}
.dp1 {
	background: url(/include/booksearch/images/common/bul_dp0.png) 0 50% no-repeat;
	padding-left: 18px
}
h2.dp1, .dp1 strong {
	font-size: 14px;
	font-weight: bold;
}
.searchSelect {
	background:url(../../image/jungang/search/bg_searchSelect.gif) 0 50% no-repeat;
}
.libSelect li input[type=checkbox]:checked + label:before {
	background: #e2427f !important
}
.searchCoreWrap {
	border: 5px solid #e2427f;
}
.seachSelWrap {
	border: 2px solid #fd96bd;
	border-top: 0 none;
	border-radius: 0 0 5px 5px;
	padding: 15px;
	position: relative;
	background: #ffe8f1;
}
.themeBtn, .popK .no.themeColor {
/*	border: 1px solid #e2427f;*/
	display:inline-block;
}
.themeBG {
	background: #e9faf1
}
.themeBorder2 {
	border:1px solid #dcefd8 !important
}

.searchInpWrap {
	border: 2px solid #fd96bd;
}


/*detailView */
.recommList > li { min-width:120px}
.booklistData .title > span { display:inline-block; line-height:18px; padding:0 4px; color:#fff; vertical-align: baseline}

.tbsLW span { margin:0 10px !important;}
.tbsLW, .tbsBS, .tBBlue,.tbsLG { background-size:1px 100% !important}

@media screen and (max-width: 800px) {
.rndBoxBody { padding:15px 0 !important; height:160px; overflow:hidden}
.libSelect li { width:auto !important; margin-right:8px}
.popKwd { padding-left:0 !important; display:block; height:20px; overflow:hidden; padding-bottom:0 !important; margin-bottom:10px !important; margin-left:8px !important}
.searchCoreWrap { margin:0 !important}
.reSearch { width:80px !important; text-align:right !important}
.reSearchYn { line-height:0.9em; font-size:8px !important; vertical-align:baseline}

.bookItemText > li { float:none}
.bookItemText > li.booklistData { width:90% !important; padding:15px 0 0 0 !important}
.bookItemText > li.fr { float:none !important; display:block; padding:0 !important; margin:0 0 10px 20px !important; clear:both; overflow:hidden}
.bookItemText > li > ul > li { margin-bottom:2px !important}
.dataFr { display:block}
.dataFr > li { float: left !important; clear:none !important}
.searchNewSel1 { width: 30% !important}
.searchNewSel2 {width: 20% !important}
.searchNewSel3 {width: 20% !important}
.paging > span.paging { margin:0 !important}
.paging span.prev { margin-right: 1px !important}
.paging span.next { margin-left:1px !important}
.paging > span.paging > a, .paging > span.paging { width:18px !important}
}

@media screen and (max-width: 640px) {
.bookItem li .photo {background-size : 65px 80px !important; padding:3px 1px 1px 1px !important}
.bookItem li .photo .tag img, .bookView .photo .tag img { width:25px !important; height:30px !important}
.bookItem li div.photo img { width:63px !important; height:76px !important}
.bookItem li dl { margin: 10px 10px 10px 70px !important }
.bookItem li dl dd.dataimgLast { white-space:normal !important; padding-left:5px !important; margin-left:-70px}
.bookItem li dl dd.dataimgLast span { margin-bottom:5px}
.bookItem li dl dd.dataimgLast > div { float:none !important; text-align:center !important}
.bookItem li dl dt, .bookItem li dl dd { margin-bottom:6px !important}
.bookItem li { padding-top:0 !important}
.bookItem li:first-child { padding-top:10px !important}
.dataWrap { width:90% !important}
.popKwd a { margin-left:10px !important}
}

@media screen and (max-width: 360px) {
.dataWrap { width:85% !important}
.popKwd a { margin-left:5px !important}
}

@media screen and (max-width: 350px) {
.type02.recommList > li > a {
	width:85px !important;
	height:133px !important}
.bookThumb {
	background-size:85px 118px !important;
	width:90px !important
}
.bookThumb img { width:82px !important; height:112px !important}
.recommList > li { min-width:90px !important}
.rndBoxBody { height:130px !important}
.recommList { padding-left:5px !important}
}



/*added for mobile GNB*/
@media screen and (max-width: 998px) {
	.MkSub > li a {color:#fff}
	.loginWrap {background:none !important}
}
@media screen and (min-width: 998px) {
	.pcHide {display:none !important;}
}

.snsFarm { display:block; float:right; padding:5px 10px;}
.snsFarm > li { float:left; margin-left:5px;}