#khu_id_textbox{
	width: 300px;
	height: 40px;
}

#khu_pw_textbox{
	width: 300px;
	height: 40px;	
}

#khu_pwChk_textbox{
	width: 300px;
	height: 40px;	
}

#khu_name_textbox{
	width: 300px;
	height: 40px;	
}

#khu_label{
	font-size: 20px;
}

#khu_birth_textbox{
	width : 100px;
	height: 40px;
	margin-right: 0 auto;
}

#khu_birth2_textbox{
	width : 40px;
	height: 40px;
}

#khu_btnSignUp{
	width : 800px;
	margin-top: 100px;
	margin: 20px auto;
	margin-bottom: 30px;	
	display: inline-block;
	text-align: center;
}

#khu_zipSearch_textbox{
}

#khu_phone_textbox{
	width: 300px;
	height: 40px;
}

#khu_detailAddress_textbox{
	width: 600px;
	height: 40px;
		
}

#khu_phoneCheck_textbox{
	width : 100px;
	height: 40px;
}

#khu_idInput{
/* 	display: flex; */
}

#khu_ulForm{
	margin : 40px auto; display: table; border: 2px solid;
}

div #eye {
    position: relative;
}

div#eye i{
	position :absolute;
    left: 46.5%;
    top : 53px;
    color: black;
}

#khu_quitRequestForm{
	text-align: center;
	padding: 200px;
}
 
 
 
